<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>code — druchan.com</title>
  <link href="./style.css" rel="stylesheet" />
  <link href="./images/favicon.png" rel="icon" />
</head>

<body>
  <div class="bg-slate-900 text-white text-xs text-center p-1 fixed top-0 right-0 left-0 italic">
    I do not blog here anymore. All posts are published at <a href="https://notes.druchan.com">notes.druchan.com</a>.
  </div>
  <div>
    <h3 id="home-page-logo">
      <a href="/">
        code / druchan
      </a>
    </h3>
    <article id="archive_container">{{content}}</article>
    <footer>
      <a href="/feed.xml">rss feed</a>
      <span>&bull;</span>
      <a href="https://druchan.com">druchan.com</a>
    </footer>
  </div>
</body>

</html>